<j:basemasterheader />

<!-- Move this block to Admin > Settings > Script Management > All pages -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/M1/stage/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/M1/stage/css/responsive-base.css" rel="stylesheet" type="text/css" />
<script src="/M1/stage/scripts/responsive-base-libraries.js"></script>
<script src="/M1/stage/scripts/responsive-base-core.js"></script>
<script src="/M1/stage/scripts/responsive-base-views.js"></script>
<script src="/M1/stage/scripts/responsive-base-modules.js"></script>
<script src="/M1/stage/scripts/client.js"></script>
<!--[if lt IE 9]>
<script src="/M1/Stage/scripts/shiv-html5.js"></script>
<script src="/M1/Stage/scripts/shiv-cssMatcher.js"></script>
<script src="/M1/Stage/scripts/shiv-rem.js"></script>
<script src="/M1/Stage/scripts/shiv-selector.js"></script>
<script src="/M1/Stage/scripts/shiv-mediaQuery.js"></script>
<![endif]-->
<!-- End block-->

<j:pageheader />
<j:addtocartinformationpopup />

<div class="popup-info-box">
    <div class="popup-info-box-close">
    </div>
    <div class="popup-info-box-content">
    </div>
</div>
<j:basemasteroverlay />

<div id="outer-wrapper">
    <div id="inner-wrapper">
        <header id="header">
            <div id="header-inner">
                <j:shoplogo />

                <div id="menu-wrapper">

                    <div id="menu-content">

                        <div id="menu-activator" class="menu-icon icon-button"><i class="fa fa-bars fa-fw"></i><span></span></div>

                        <div id="search-box-wrapper" class="menu-component">
                            <div id="search-activator" class="search-icon icon-button"><i class="fa fa-search fa-fw"></i><span></span></div>
                            <j:searchbox />
                        </div>

                        <div id="cart-activator" class="cart-icon icon-button"><i class="fa fa-shopping-cart fa-fw"></i><span></span><b></b></div>
                        <div class="cart-area-wrapper menu-component">
                            <j:cart />
                            <j:freefreightmessagecart />
                            <j:voucher />
                        </div>

                        <div id="info-text-left-wrapper" class="menu-component hide-for-medium-down">
                            <j:infotextleft />
                        </div>

                    </div>

                </div>
            </div>
            <nav id="cat-nav" role="navigation" class="menu-component">
                <div class="nav-bar">
                    <j:categorynavigation addindexclasses="true" addactiveclasses="true" loadallcategories="True" />
                </div>
            </nav>
        </header>

        <nav id="path-nav" role="navigation">
            <j:sitemap />
        </nav>

        <div class="marquee"></div>

        <j:mainwrapperbegin />
        <aside id="left-area">
            <div class="content">
                <!-- Column 1 -->
                <j:freefreightmessageleft />
                <div id="left-nav-placeholder"></div>

                <j:manufacturerselector />
            </div>
        </aside>
        <div id="main-area" role="main">

            <div class="content">
                <!-- Column 2 -->
                <j:mainarea />
            </div>

            <!-- Loading overlay has to be inside content wrapper beacuse right now we are only suporting overlay on the main content -->
            <div id='loadingOverlay' style='display: none; position: absolute; background: #fff; z-index: 9999'>
                <img id='imgLoad' style='position: absolute;' src='/m1/stage/images/responsive-base/ajax-loader-big.gif' />
            </div>
        </div>

        <j:rightarea />
        <j:mainwrapperstop />

        <footer id="footer" data-equalizer data-equalizer-mq="medium-up">
            <div class="footer-lower">

                <div class="footer-box">
                    <h2>Info <i class="fa fa-info-circle"></i></h2>
                    <div class="page-list-wrapper">
                        <j:pagelist />
                    </div>
                </div>

                <div class="footer-box">
                    <j:footercontentcontrolupper />
                </div>


                <div class="footer-box">
                    <j:footercontentcontrollower />
                </div>

                <div class="footer-box">
                    <j:newslettersignup />
                    <div class="culture-selector-wrapper">
                        <j:cultureselector type="DropDown" />
                    </div>
                    <div class="currency-selector-wrapper">
                        <j:currencyselector currencyselectordisplaymode="DropDownList" />
                    </div>
                    <div class="vat-selector-outer-wrapper">
                        <j:vatselector />
                    </div>
                </div>


            </div>
        </footer>
        <aside id="jetshop-branding">
            <j:jetshoplogocontrol />
        </aside>
    </div>
</div>
<div id="menu-overlay"></div>

<j:pagefooter />
<j:basemasterfooter />
