<div id="dc-totals">
    <div class="sum-total">
        <span class="label">{{ translate "dcItemTotal" }}:</span>
        <span class="value">
            {{#if (isVatIncluded) }}
                {{{ TotalProductSumText }}}
            {{else}}
                {{{ TotalProductSumNoVatText }}}
            {{/if}}
        </span>
    </div>
    {{#if showTotalVat }}
        <div class="vat-total">
            <span class="label">
            {{#if (isVatIncluded) }}
                {{ translate "dcOfWhichVat" }}
            {{else}}
                {{ translate "dcPlusVat" }}
            {{/if}}
            </span>
            <span class="value">{{{ TotalProductVatSumText }}}</span>
        </div>
    {{/if}}
</div>
